#year_graph_div{
  position: relative;
  display: block;
  height: 100%;
  width: 22%;
  color: white;
  float: left;
  margin-left: 1%;
  text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
}

#year_graph_div span {
  height: 10%;
  font-size: 20px;
}

#lollipop_chart {
  position: relative;
  display: block;
  height: 90%;
  width: 100%;
  float: left;
  font-size: 5px;
  font-weight: 0;
}
